<div class="d-flex justify-content-between align-items-center mb-3">
  <h5>Work Orders</h5>
  <button class="btn btn-sm btn-primary">+ Add milestone</button>
</div>


<div class="work-order-list col-12">
  <!--  <div class="list-header">-->
  <!--    <h1>Work Orders</h1>-->
  <!--    <p class="project-name">{{ project.name }}</p>-->
  <!--  </div>-->

  <div class="work-orders">
    @for (item of project.workitems; track item.id) {
      <div class="work-order-card" (click)="openWorkOrder(item.id)">
        <div class="card-header">
          <div class="work-order-id">WO-{{ item.id }}</div>
          <div class="status-badge status-{{ item.status }}">
            {{ item.status | titlecase }}
          </div>
        </div>

        <div class="card-content">
          <h3 class="work-title">{{ item.title }}</h3>
          <p class="work-description">{{ item.description || 'No description' }}</p>
        </div>

        <div class="card-footer">
          <div class="footer-item">
            <i class="bi bi-person"></i>
            <span>{{ item.assignee.full_name || 'Unassigned' }}</span>
          </div>
          <div class="footer-item">
            <i class="bi bi-calendar-event"></i>
            <span>{{ item.due_on | readableDate }}</span>
          </div>
          <div class="footer-item">
            <i class="bi bi-check-circle"></i>
            <span>{{ item.percent_complete }}%</span>
          </div>
        </div>

        <i class="bi bi-chevron-right card-arrow"></i>
      </div>
    }
  </div>
</div>
