<div
  id="side-nav"
  class="d-flex flex-column flex-shrink-0 bg-primary nav-colors"
  style="width: 280px"
>
  <div class="logo">
    <img class="img-responsive" src="logos/ez-client-logo.png" alt="EZ Client Logo" />
  </div>
  <ul class="nav nav-pills flex-column mb-auto p-3">
    <li>
      <a [routerLink]="'dashboard'" [routerLinkActive]="'active'" class="nav-link">
        <i class="bi bi-speedometer2 me-2"></i>Dashboard</a
      >
    </li>
    <li>
      <a [routerLink]="'projects'" [routerLinkActive]="'active'" class="nav-link"
        ><i class="bi bi-kanban me-2"></i>Projects</a
      >
    </li>
    <li>
      <a [routerLink]="'clients'" [routerLinkActive]="'active'" class="nav-link"
        ><i class="bi bi-people me-2"></i>Clients</a
      >
    </li>
    <li>
      <a [routerLink]="'invoices'" [routerLinkActive]="'active'" class="nav-link"
        ><i class="bi bi-receipt me-2"></i>Invoices</a
      >
    </li>
    <li>
      <a [routerLink]="'files'" [routerLinkActive]="'active'" class="nav-link"
        ><i class="bi bi-folder2-open me-2"></i>Files</a
      >
    </li>
    <li>
      <a [routerLink]="'settings'" [routerLinkActive]="'active'" class="nav-link">
        <i class="bi bi-gear me-2"></i>Settings
      </a>
    </li>
  </ul>

  <div>2025</div>
</div>
